.clearfix {
    clear: both;
}

div.padding div#toolbar-box div.m {
    padding: 5px 0 5px 0;
}

.ost-logo {
    background: url(../../images/logo.png) no-repeat;
    background-position: 10px 50%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    height: 42px;
}

div.ost-logo span.header_text {
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 0 265px;
    padding: 24px 0 0 0;
    display: block;
}

.header_text {
    margin-left: 200px;
}

#system-message dd ul {
    border: none;
    background-color: #f6f5a9;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    color: #717147;

}

#system-message dd.message ul {
    background-image: none;
}

#system-message dd.error ul {
    background-image: none;
    color: #8e3b1d;
    background-color: #f7b7a0;
}

p.errormessage {
    padding: 0;
    font-size: 12px;
    margin: 0;
}

h3.error_title {
    color: #c02f03;
    border-bottom: 1px dashed #CCC;
}
