<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset
        name="com_ostoolbar"
        label="COM_OSTOOLBAR_SETTINGS"
        >
        <field
            name="api_key"
            type="text"
            default=""
            size="60"
            label="COM_OSTOOLBAR_API_KEY"
            description="COM_OSTOOLBAR_API_KEY_DESC"
            />
    </fieldset>
    <fieldset
        name="com_ostoolbar_videos"
        label="COM_OSTOOLBAR_SETTINGS_VIDEOS"
        addfieldpath="/administrator/components/com_ostoolbar/models/fields"
        >
        <field
            name="videos"
            type="videos"
            default=""
            label="COM_OSTOOLBAR_VIDEOS"
            description="COM_OSTOOLBAR_VIDEOS_DESC"
            />
    </fieldset>
    <fieldset
        name="com_ostoolbar_images"
        label="COM_OSTOOLBAR_SETTINGS_IMAGES"
        addfieldpath="/administrator/components/com_ostoolbar/models/fields"
        >
        <field
            name="menu_logo"
            type="logo"
            default=""
            label="COM_OSTOOLBAR_MENU_LOGO"
            description="COM_OSTOOLBAR_MENU_LOGO_DESC"
            />
        <field
            name="panel_logo"
            type="logo"
            default=""
            label="COM_OSTOOLBAR_PANEL_LOGO"
            description="COM_OSTOOLBAR_PANEL_LOGO_DESC"
            />
        <field
            name="tutorial_logo"
            type="logo"
            default=""
            label="COM_OSTOOLBAR_TUTORIAL_LOGO"
            description="COM_OSTOOLBAR_TUTORIAL_LOGO_DESC"
            />
        <field
            name="plugin_logo"
            type="logo"
            default=""
            label="COM_OSTOOLBAR_PLUGIN_LOGO"
            description="COM_OSTOOLBAR_PLUGIN_LOGO_DESC"
            />
    </fieldset>
    <fieldset
        name="com_ostoolbar_language"
        label="COM_OSTOOLBAR_SETTINGS_LANGUAGE"
        addfieldpath="/administrator/components/com_ostoolbar/models/fields"
        >
        <field
            name="language"
            type="language"
            default=""
            label="COM_OSTOOLBAR_LANGUAGE"
            description="COM_OSTOOLBAR_LANGUAGE_DESC"
            />
    </fieldset>
    <fieldset
        name="permissions"
        label="JCONFIG_PERMISSIONS_LABEL"
        description="JCONFIG_PERMISSIONS_DESC"
        >

        <field
            name="rules"
            type="rules"
            label="JCONFIG_PERMISSIONS_LABEL"
            class="inputbox"
            filter="rules"
            validate="rules"
            component="com_ostoolbar"
            section="component"/>
    </fieldset>
</config>
