<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset
        name="com_ostoolbar"
        label="COM_OSTOOLBAR_SETTINGS">
        <field
            name="api_key"
            type="text"
            default=""
            size="60"
            label="COM_OSTOOLBAR_API_KEY"
            description="COM_OSTOOLBAR_API_KEY_DESC"
            />
    </fieldset>

    <fieldset
        name="com_ostoolbar_videos"
        label="COM_OSTOOLBAR_SETTINGS_VIDEOS"
        addfieldpath="/administrator/components/com_ostoolbar/models/fields">
        <field
            name="videos"
            type="videos"
            default=""
            label="COM_OSTOOLBAR_VIDEOS"
            description="COM_OSTOOLBAR_VIDEOS_DESC"
            />
    </fieldset>

    <fieldset
        name="permissions"
        label="JCONFIG_PERMISSIONS_LABEL"
        description="JCONFIG_PERMISSIONS_DESC">

        <field
            name="rules"
            type="rules"
            label="JCONFIG_PERMISSIONS_LABEL"
            class="inputbox"
            filter="rules"
            validate="rules"
            component="com_ostoolbar"
            section="component"/>
    </fieldset>
</config>
